CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
*.vcxproj
*.sln
*.vcxproj.filters
cmake_install.cmake
FigmaQML.dir
FigmaQML_autogen
Release
x64
Debug
*.7z
*.zip
build
builds
*.autosave

.DS_Store
__pycachhe
__pycache
__pycache__
build-mcu_figma-Qt_for_MCUs_2_6_STM32F769I_DISCOVERY_BAREMETAL_32bpp_ARMGCC_a0a53d-Debug
